<footer role="contentinfo" class="footer">
  <p><small>© {{date format="YYYY"}}. All Rights Reserved. But mostly public domain.</small></p>
  <p><small>
    <a href="http://twitter.com/airship" target="_blank">
      <i class="fa fa-twitter"></i>Twitter
    </a>
    &nbsp;
    <a href="http://github.com/airships" target="_blank">
      <i class="fa fa-github"></i>Github
    </a>
  </small></p>
</footer>
