<footer role="contentinfo" class="footer">
  <p><small>© {{date format="YYYY"}}. All Rights Reserved. But mostly public domain.</small></p>
  <p><small><a href="http://ghostium.oswaldoacauan.com/" target="_blank">Ghostium Theme</a> by <a href="http://twitter.com/oswaldoacauan" target="_blank">@oswaldoacauan</a></small></p>
  <p><small>Proudly published with <a href="http://ghost.org" target="_blank">Ghost</a></small></p>
  <p>
    <a href="http://twitter.com/airship" target="_blank">
      <i class="fa fa-twitter"></i>Twitter
    </a>
    <a href="http://github.com/airships" target="_blank">
      <i class="fa fa-github"></i>Github
    </a>
  </p>
</footer>
